page-home {
   
    
    #body{
        text-align: center;
        background-image: url(/assets/imgs/wallpaper1.jpeg);
        background-repeat: no-repeat;
        background-size: initial;
    }
    #title{
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.397);
        padding: 25px;
    }

    .footer{
        background-color: rgba(255, 255, 255, 0.397);
    }
}
